<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li *ngFor="let navList of navList"><a [routerLink]="navList.Url">{{ navList.navItem }}</a></li>
      </ul>
      <app-search></app-search>
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let userNav of userNav"><a [routerLink]="userNav.Url"><span class="glyphicon" [class]="userNav.className"></span>{{userNav.userItem}}</a></li>
      </ul>
    </div>
  </div>
</nav>
